.cascadeboxes-wrapper .details-v2 .container .col .big-text p {
	font-size: 60px;
	font-weight: 300;
	line-height: 62px;
	padding: 0 5% 0 0;
}

header .container .nav-menu-wrapper .current-menu-item a {
	color: #cfde00;
}