.cascadeboxes-wrapper .details-v2 .container .col .big-text p {
	font-size: 60px;
	font-weight: 300;
	line-height: 62px;
	padding: 0 5% 0 0;
}

header .container .nav-menu-wrapper .current-menu-item a {
	color: #cfde00;
}

.content-404 h3 {
    font-size: 80px;
    font-weight: 300;
    color: #00a7ce;
    text-align: center;
    letter-spacing: 4px;
    margin: 50px 0;
}

.siteintro-wrapper .intro-slider ul li .inner-wrapper .content-wrapper form input[type="submit"] {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 15px;
    top: 27px;
    background-image: url(../../img/arrow-blue.png);
    width: 59px;
    height: 20px;
}

.su-spoiler-style-default > .su-spoiler-title {
    padding-left: 27px;
    padding-right: 0;
    color: #fff;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: normal;
    border-top: 3px solid #fff;
    padding-top: 54px;
    margin-top: 10px;
    padding-bottom: 30px;
}

.su-spoiler.su-spoiler-style-default.su-spoiler-icon-plus.su-spoiler-closed {
    opacity: .4;
}

.su-spoiler-content.su-clearfix {
    font-family: "Adelle-Light";
    color: #fff;
    font-size: 22px;
}

.su-spoiler-content.su-clearfix p {
    color: #fff;
    font-size: 22px;
}

.su-spoiler-icon-plus.su-spoiler-closed .su-spoiler-icon:before {
    content: none;
}

.accordion .su-accordion .su-spoiler-style-default > .su-spoiler-title > .su-spoiler-icon {
    left: 96%;
    margin-top: 43px;
    font-size: 23px;
    border: 2px solid #fff;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 6px;
    padding-top: 3px;
    -webkit-transform: rotate(133deg);
    -ms-transform: rotate(133deg);
    transform: rotate(133deg);
    transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.accordion .su-accordion .su-spoiler.su-spoiler-style-default.su-spoiler-icon-plus.su-spoiler-closed .su-spoiler-icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.accordion .su-accordion  .su-spoiler-icon-plus .su-spoiler-icon:before {
    content: "+";
}




