.cascadeboxes-wrapper .details-v2 .container .col .big-text p {
	font-size: 60px;
	font-weight: 300;
	line-height: 62px;
	padding: 0 5% 0 0;
}

header .container .nav-menu-wrapper .current-menu-item a {
	color: #cfde00;
}

.content-404 h3 {
    font-size: 80px;
    font-weight: 300;
    color: #00a7ce;
    text-align: center;
    letter-spacing: 4px;
    margin: 50px 0;
}

.siteintro-wrapper .intro-slider ul li .inner-wrapper .content-wrapper form input[type="submit"] {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 15px;
    top: 27px;
    background-image: url(../../img/arrow-blue.png);
    width: 59px;
    height: 20px;
}
}